<template>
  <section class="container">
    <table class="cart-table">
      <tr v-for="item in cartItems.shoppingCart.products" :key="item.id">
        <td>
          <div class="cart-thumbnail"><img :src="item.thumbnail" alt="" /></div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          {{ item.price }}
        </td>
        <td>
          <p @click="deleteProduct(item.id)">Odstanit</p>
        </td>
      </tr>
    </table>
    <div class="cart-footer">
      <div class="cart-final-prices">
        <span>Cena bez dph: </span>
        <span>Celková cena:{{ cartItems.$state.shoppingCart.totalPrice }}</span>
      </div>
      <div>
        <ButtonC>
           Pokračovat </ButtonC>
      </div>
    </div>
  </section>
</template>

<script setup>
import { useProductStore } from '../../stores/product'
import ButtonC from '../Buttons/ButtonComponent.vue'
const cartItems = useProductStore()
const product = useProductStore()

const deleteProduct = (id) => {
  product.deleteProduct(id)
}
</script>

<style scoped lang="scss">
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.2s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  tr {
    td{
      margin: auto 0;
    }
  }
  .cart-table {
    width: 100%;
  }
  .cart-footer {
    align-self: flex-end;
    margin-top: auto;
  }
  .cart-thumbnail {
     margin: 0 auto;
     width: 80px;
  }
}
</style>
