<template>
  <Teleport to="body">
    <Transition name="modal">
      <div  v-if="show" class="modal-mask">
        <div class="login-modal">
          <div @click="$emit('close')" class="close-modal">
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
          <LoginForm />
          <div class="not-registred">
            <p class="login-heading">Nemáte učet?</p>
            <ButtonComponent @click="signUp" class-b="button-small">
              <span>Registrovat</span>
            </ButtonComponent>
          </div>
        </div>
      </div>
    </Transition>
  </Teleport>
</template>
<script>
export default {
  name: 'LoginModal',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<script setup>
import ButtonComponent from '../Buttons/ButtonComponent.vue'
import { ref, defineEmits } from 'vue'
import LoginForm from '../Forms/LoginForm.vue'
const emit = defineEmits(['close', 'open'])
const signUp = () => {
  emit('open')
  emit('close')
}
</script>
<style  lang="scss">
.not-registred{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(201, 201, 201);
  padding: 0.75em 0.5em;
}
.login-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom:0.5em;
}

.login-modal {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 600px;
  top: 8em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 6px 2px rgba(50,50,50,.3);
  > *{
  }
}

</style>
