<template>
  <Teleport to="body">
    <Transition name="modal">
      <div v-if="show" class="modal-mask">
        <div class="register-modal">
          <div @click="$emit('close')" class="close-modal">
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
          <RegisterForm></RegisterForm>
        </div>
      </div>
    </Transition>
  </Teleport>
</template>
<script>
export default {
  name: 'LoginModal',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<script setup>
import RegisterForm from '../Forms/RegisterForm.vue'
defineEmits(['close'])
</script>

<style lang="scss">
.register-modal {
  position: fixed;
  display: flex;
  top: 8em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 6px 2px rgba(50,50,50,.3);
  padding: 1em 1.25em;
  box-sizing: content-box;

}
.close-modal{
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
  }
</style>
