<template>
  <button :class="classB">
    <div class="icon-wrapper">
      <slot name="icon"> </slot>
    </div>
    <div class="text-wrapper">
      <slot></slot>
    </div>
  </button>
</template>

<script lang="ts">
export default {
  props:{
    classB:String
  }
}
</script>

<style lang="scss">
.text-wrapper{
}
.icon-wrapper {
  width: 28px;
}
$button-medium:100px;
@mixin button{

}
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;
  background-color: rgb(180, 180, 180);
  margin-left: auto;
  width: 100px;
  border-radius: 5px;
  transition: background-color 300ms;
  cursor: pointer;
  &:hover {
    transition: background-color 300ms;
    background-color: lightgray;
  }
  .product-shopping-text {
    font-weight: 700;
    align-self: center;
  }
}
</style>
