<template>
  <section class="product-grid">
    <ProductCard v-for="product in products" :key="product.id" :data="product"></ProductCard>
  </section>
</template>

<script setup>
import ProductCard from './ProductComponent.vue'
import axios from 'axios'
import { onMounted, ref } from 'vue'
const products = ref(null)
onMounted(async () => {
  const response = await axios.get('https://dummyjson.com/products')
  products.value=response.data.products
})
</script>

<style lang="scss">
.product-grid {
  display: grid;
  width: 100%;
  gap: 0.25em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  > * {
  }
}
@media only screen and (max-width: 1366px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media only screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
