<template>
  <article class="product-container">
    <div class="product-image-wrapper">
      <img :src="data.thumbnail" alt="" />
    </div>
    <div class="product-rating">
      <div v-if="true" class="product-stars">
        <span class="star-icons-grey">
          <span :style="{ width: starWidth }" class="star-icons-yellow" alt=""></span>
        </span>
        <p class="product-rating-aritmetic">{{ data.rating }}</p>
        <p class="product-rating-number">(8)</p>
      </div>

      <p class="product-stock">Skladem {{ data.stock }} ks</p>
    </div>
    <div class="product-description">
      <span @click="openProduct(data.id,data.title)" v-if="data" class="product-name" >{{
        data.title
      }}</span>
      <p>
        {{ data.description }}
      </p>
    </div>
    <div class="product-footer">
      <div class="pruduct-prices">
        <p class="product-price">{{ data.price }} Kč</p>
      </div>
      <ButtonC @click="sendProduct(data)" class-b="card-button">
        <template #icon>
          <img src="../../assets/icons/shopping-cart-icon.svg" alt="" />
        </template>
        Objednat
      </ButtonC>
    </div>
    <div class="product-info"></div>
  </article>
</template>

<script setup lang="ts">
import ButtonC from '../Buttons/ButtonComponent.vue'
import useProduct from '../../composables/product'
const { sendProduct, openProduct } = useProduct()
const productProps = defineProps<{
  data: {
    id: number
    title: string
    thumbnail:''
    price: number
    description: string
    rating: 0
    stock: number
  }
}>()
const starWidth = (productProps.data.rating/5)*100+'%'
</script>

<style lang="scss">
@import 'ProductCard';
</style>
