<template>
  <div class="container">
    <div class="image-wrapper"><img :src="product.thumbnail" alt="" /></div>
    <div class="wrapper">
      <h2 class="product-heading">{{ product.title }}</h2>
      <p class="product-description">{{ product.description }}</p>
    </div>
    <p class="product-price">{{}}</p>
    <ButtonComponent @click="sendProduct(product)" class-b="card-button">
      <template #icon>
        <img src="../../assets/icons/shopping-cart-icon.svg" alt="" />
       </template>
        Do košíku</ButtonComponent>
  </div>
</template>

<script setup>
import ButtonComponent from '../Buttons/ButtonComponent.vue'
import useProduct from '../../composables/product'
import { useRoute } from 'vue-router'
import axios from 'axios'
import { ref } from 'vue'
const { sendProduct } = useProduct()
const route = useRoute()
const product = ref(null)
try {
  const response = await axios.get('https://dummyjson.com/products/' + route.query.id)
  product.value = response.data
} catch (error) {
  console.log(error)
}
</script>

<style scoped lang="scss">
.container {
  flex-wrap: wrap;
.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex:1;
  flex-direction: column;
}
  .image-wrapper {
    flex: 1;
    float: left;
    width: 30em;
    img {
      object-fit: contain;
    }
  }
}
</style>
