$font-size-medium: 22px;
$font-size-price: 24px;
$font-size-second-price: 14px;
$font-size-button: 14px;
.product-stars {
  display: flex;
  gap: 0.25em;
  position: relative;
  .star-icons-grey {
    display: block;
    width: 93px;
    height: 18px;
    background: url("../../assets/icons/star-icons-grey.svg");
    .star-icons-yellow {
      display: block;
      z-index: 2;
      height: 18px;
      background: url("../../assets/icons/star-icons-yellow.svg");
    }
  }
}
.product-container {
  box-sizing: border-box;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(212, 212, 212);
  .product-image-wrapper {
    height: 250px;
    padding: 1em;
    img{
      object-fit: contain;
    }
  }
  .product-description {
    padding-top: 0.5em;
    .product-name {
      text-decoration: none;
      color: rgb(4, 49, 199);
      font-weight: bold;
      font-size: 20px;
      transition: color 300ms;
      &:hover {
        transition: color 300ms;
        color: rgb(66, 123, 247);
      }
    }
    p {
      padding: 0.5em 0;
    }
  }
  .product-rating {
    gap: 0.25em;
    display: flex;
    .product-stock {
      color: rgb(5, 88, 2);
      font-weight: 700;
      margin-left: auto;
    }
  }
  .product-footer {
    display: flex;
    padding-top: 0.5em;
    margin-top: auto;
    .pruduct-prices {
      .product-price {
        font-weight: 600;
        font-size: $font-size-price;
      }
      .product-second-price {
        font-weight: 400;
        font-style: italic;
        font-size: $font-size-second-price;
      }
    }

  }
}
