<template>
  <nav class="navbar-wrapper">
    <router-link to="/">
      <h1>Nazev firmy</h1>
    </router-link>

    <div class="navbar-icons">
      <button class="navbar-user">
        <router-link to="/CartView">
          <img src="../../assets/icons/user-icon.svg" alt="Uživatel" />
        </router-link>
        <p @click="showLoginModal">Přihlásit se</p>
        <LoginModal :show="showLogin" @open="showSignUp = true" @close="showLogin = false" />
        <SignUpModal :show="showSignUp" @close="showSignUp = false" />
      </button>
      <div class="navbar-shopping-cart">
        <div v-if="product.shoppingCart.numberOfProducts > 0" class="navbar-shopping-cart-inCart">
          <p>{{ product.shoppingCart.numberOfProducts }}</p>
        </div>
        <router-link to="/CartView">
          <img src="../../assets/icons/shopping-cart-icon.svg" alt="Košík" />
        </router-link>
        <div v-if="product.shoppingCart.products.length > 0" class="navbar-shopping-cart-box">
          <ul>
            <li v-for="item in product.shoppingCart.products" :key="item.id">
              <img class="cart-thumbnail" :src="item.thumbnail" alt=""><span>{{ item.title }}</span> <span>{{ item.price }}</span>
            </li>
            <li class="cart-totalprice">Celkem: {{ product.shoppingCart.totalPrice }}</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts" setup>
import SignUpModal from '../Modals/SignUpModal.vue'
import { useProductStore } from '../../stores/product'
import LoginModal from '../Modals/LoginModal.vue'
import { ref } from 'vue'
const product = useProductStore()
const showSignUp = ref(false)
const showLogin = ref(false)
function showLoginModal() {
  showLogin.value = true
}
</script>

<style lang="scss">
.navbar-wrapper {
  padding: 1em 0 1em 0;
  display: flex;
justify-content: space-around;
  text-align: center;
  background-color: rgb(231, 231, 231);
  .navbar-icons {
    display: flex;
    gap: 1em;
    .navbar-user {
      display: flex;
      align-items: center;
    }
    .navbar-shopping-cart {
      width: 32px;
      cursor: pointer;
      position: relative;
      .navbar-shopping-cart-box {
        ul{
          li{
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em  0;
            border-bottom: 1px grey solid;
            &:last-child{
              border-bottom: none;
            }
          }
        }
        .cart-thumbnail{
          height: 64px;
          width: 64px;
          img{
            object-fit: contain;
          }
        }
        display: none;
      }
      &:hover {
        .navbar-shopping-cart-box {
          cursor: auto;
          display: block;
          position: fixed;
          right:0px;
          width: 300px;
          background: white;
          padding: 0.5em;
          border: solid 2px black;
        }
      }
      .navbar-shopping-cart-inCart {
        position: absolute;
        left: 25px;
        bottom: 20px;
        color: white;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 12px;
        }
      }
    }
  }
}
</style>
