<template>
  <li>
    <router-link :to="to">
      <slot class="icon" name="icon"></slot>
      <slot> </slot>
    </router-link>
  </li>
</template>

<script>
export default {
  props: {
    to: String
  }
}
</script>

<style lang="scss" scoped>
li {
  padding: 0.75em 0;
  a {
 
    text-decoration: none;
    color: inherit;
  }
}

</style>
