<template>
  <nav :style="{ width: sidebarWidth }" class="sidebar-wrapper">
    <span @click="toggleSidebar()">X</span>
    <ul>
      <NavbarItem to="/">
        <template #icon>
          <i class="fa-solid fa-mobile-screen"></i>
        </template>
        <span v-if="!collapsed">smart phones</span>
      </NavbarItem>
      <NavbarItem to="/">
        <template #icon> <i class="fa-solid fa-laptop"></i> </template>
        <span v-if="!collapsed">laptops</span>
      </NavbarItem>
    </ul>
  </nav>
</template>

<script lang="ts">
import { collapsed, toggleSidebar, sidebarWidth } from './state'
import NavbarItem from './NavbarItem.vue'

export default {
  components: {
    NavbarItem
  },
  setup() {
    return {
      collapsed,
      toggleSidebar,
      sidebarWidth
    }
  }
}
</script>

<style lang="scss">
.sidebar-wrapper {
  border-radius: 15px;
  padding: 0.5em;
  height: 35em;
  background-color: rgb(148, 134, 134);
  flex-direction: column;
  transition: 0.3s ease;
  position: sticky;
  top: 75px;
  ul {
    overflow: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar-wrapper {
    min-width: 60px;
  }
}
</style>
