<template>
  <Suspense>
    <ProductPreview></ProductPreview>
    <template #fallback>
      <span>Loading..</span>
    </template>
  </Suspense>
</template>

<script setup>
import ProductPreview from '../components/ProductCard/ProductPreview.vue'
</script>

<style></style>
