<script setup lang="ts">
import { RouterView } from 'vue-router'
import NavbarComponent from './components/Layout/NavbarComponent.vue'
import SidebarComponent from './components/Layout/SidebarComponent.vue'
</script>

<template>
  <main class="layout">
    <header class="header">
      <NavbarComponent />
    </header>
    <SidebarComponent class="leftSide" />
    <RouterView class="body" />
  </main>
</template>

<style scoped>

.layout {
  margin: 0 auto;
  display: grid;
  background-color: rgb(248,248, 248);
  grid:
    'header header header' auto
    'leftSide body .' 1fr
    '. . .' auto
    / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1;
}
.leftSide {
  grid-area: leftSide;
}
.body {
  grid-area: body;
}
</style>
