<template>
  <div class="input-component">
    <label :for="name">{{ title }}</label>
    <input
      :value="value"
      :name="name"
      :type="type"
      :placeholder="placeholder"
      :disabled="disabled"
      :required="required"
    />
  </div>
</template>

<script>
export default {
  name: 'InputComponent',
  props: {
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    title: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
.input-component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: .5em;
}
</style>
