<template>
  <div>
    <form class="login-form">
      <p class="login-heading">Přihlásit se</p>
      <InputComponent title="Email" type="email" placeholder="Email..." />
      <InputComponent title="Heslo" type="password" placeholder="Heslo..." />
      <ButtonComponent classB="button-small">
        <span>Přihlásit</span>
      </ButtonComponent>
    </form>
  </div>
</template>

<script setup>
import InputComponent from './InputComponent.vue'
import ButtonComponent from '../Buttons/ButtonComponent.vue'
</script>

<style lang="scss">
.login-form {
    padding: 0.75em 0.5em;
  input {
    border: 1px solid #ccc;
    padding: 0.5em 0.25em;
    width: 100%;
    font-size: 18px;
  }
}
.login-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom:0.5em;
}
</style>
