<template>
  <form class="register-form">
    <div class="input-wrapper">
      <InputComponent title="Jméno" type="text" placeholder="Jméno..." />
      <InputComponent title="Přijmení" type="text" placeholder="Přijmení..." />
    </div>
    <InputComponent title="Email" type="email" placeholder="Email..." />
    <InputComponent title="Heslo" type="password" placeholder="Heslo..." />
    <ButtonComponent class-b="button-small"> Registrovat se </ButtonComponent>
  </form>
</template>

<script setup>
import ButtonComponent from '../Buttons/ButtonComponent.vue'
import InputComponent from './InputComponent.vue'
</script>

<style lang="scss">
.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.register-form {
  flex-direction: column;
  align-items: center;
  width: 100%;
  input {
    border: 1px solid #ccc;
    padding: 0.5em 0.25em;
    font-size: 18px;
  }
}
</style>
